@use "@/styles/variables.scss" as *;

.Xp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    background-color: $primary-color;
    border-radius: $border-radius;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    gap: $large-padding;
    max-width: 1124px;

    @media (max-width: $breakpoint-tablet) {
        flex-direction: column;
        text-align: center;
    }
}
