@use "@/styles/variables" as *;

.navbar {
  background-color: transparent;
  color: $text-color;
  padding: $base-padding;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  border-radius: $border-radius;
  gap: $base-padding;
  @media screen and (max-width: $breakpoint-tablet) {
    width: 100%;
    background-color: transparent;
    
  }
  @media screen and (max-width: $breakpoint-mobile) {
    display: flex;
    gap: 0.5rem;
    justify-content: space-around;
    padding: 0;
    
  }
}
