.animatedGradientText {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.25rem;
    font-weight: 500;
    backdrop-filter: blur(10px);
    transition: box-shadow 0.5s ease-out;
    overflow: hidden;
    cursor: pointer;
  }
  
  .gradientOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 300% 100%;
    animation: gradient 8s ease-in-out infinite;
    border-radius: inherit;
    z-index: 0;
    pointer-events: none;
  }
  
  .textContent {
    position: relative;
    z-index: 2;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #0d0d0d, #2a2a2a, #3a1d4d, #2a2a2a, #0d0d0d);
    animation: gradient 8s ease-in-out infinite !important;
  }
  
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  